# Dataset paths
TRAIN_LABELS_CSV=dataset/train_labels.csv
TEST_LABELS_CSV=dataset/test_labels.csv
TRAIN_IMAGES_DIR=dataset/train
TEST_IMAGES_DIR=dataset/test

# Output paths for disease detection
OUTPUT_DISEASE_BASE_DIR=dataset/disease
OUTPUT_DISEASE_IMAGES_TRAIN=dataset/disease/images/train
OUTPUT_DISEASE_IMAGES_VAL=dataset/disease/images/val
OUTPUT_DISEASE_LABELS_TRAIN=dataset/disease/labels/train
OUTPUT_DISEASE_LABELS_VAL=dataset/disease/labels/val

# Plant disease list (comma-separated)
PLANT_DISEASE=healthy, blight,rust,late blight,mold,early blight,yellow virus,mosaic virus,bacterial spot,Powdery mildew,Gray spot,Early blight,Scab,Septoria spot,spot,black rot

# Output paths for species detection
OUTPUT_SPECIES_BASE_DIR=dataset/species
OUTPUT_SPECIES_IMAGES_TRAIN=dataset/species/images/train
OUTPUT_SPECIES_IMAGES_VAL=dataset/species/images/val
OUTPUT_SPECIES_LABELS_TRAIN=dataset/species/labels/train
OUTPUT_SPECIES_LABELS_VAL=dataset/species/labels/val

# Plant species list (comma-separated)
PLANT_SPECIES=Apple,Bell Pepper,Blueberry,Cherry,Corn,Grape,Peach,Potato,Raspberry,Soyabean,Squash,Strawberry,Tomato
